pandas
numpy
atcom
scipy
firebase-admin
adafruit-circuitpython-ble
pyserial
adafruit-circuitpython-gps
adafruit-circuitpython-bno055
adafruit-circuitpython-ads1x15
shapely
gpiozero
pigpio
matplotlib
pytz
